*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1270px;
    margin: 0 auto;
}
.contant{
 width: 100%;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
}
#card{
    padding: 20px 0;
    width: 100%;
    height:100%;
    background-color: #d1d4d4;
}
#title{
    width: 100%;
    height: 90px;
}
.title{
    width: 100%;
    height: 90px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.title h1{
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
}
.more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.more a{
    color: blue;
    font-size: 18px;
}
.btn-group{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.left{
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
.right{
    width: 40px;
    height: 40px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}
.card{
    width: 220px;
    height: 250px;
    position: relative;
    background-color: #fff;
    box-shadow: 3px 3px 3px gray;
    margin-bottom: 10px;
}
.card a img{
    width: 100%;
} 

.card a .amount{
    width: 80px;
    height: 30px;
    padding: 5px;
    background-color: #a33b66;
    color: #fff;
    border-radius: 0 0 5px 0;
    position: absolute;
    left: 0;
    bottom: 55px;

}
.card a p{
    font-size: 18px;
    line-height: 19px;
    color: #2d424a;
    position: absolute;
    bottom: 30px;
    left: 10px;
}
.card a .date{
    color: gray;
    font-size: 12px;
    position: absolute;
    bottom:10px ;
    left:10px ;
}
.card a  .icon{
    font-size: 20px;
}
.card a .icon-heart{
    color:gray;
    position: absolute;
    bottom: 55px;
    right: 5px;
}
.card a .icon-crown{
    color:yellow;
    position: absolute;
    bottom: 10px;
    right: 30px;
}
.card a .icon-diamond{
    color:#800080;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
